body {
    margin: 1rem;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    padding: 0.5rem 2rem;;
    color: white;
}

#images {
    margin-top: 1rem;
}

p, span {
    font-size: 0.7rem;
    margin: 0 0.4rem;;
}

i {
    font-size: 1.2rem;
    margin-right: 0.25rem;
    color: rgb(0, 123, 255);
}

.image-div {
    margin: 0.5rem;
    border: 1px solid rgb(0, 123, 255);
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(221, 221, 221);
}

button, input, .input-group-text {
    font-size: 0.85rem !important;
}

.input-group {
    width: 20%;
    margin-right: 1rem;
}

.input-group-text input {
    margin-left: 0.8rem;
}